.arbilex{
    display: flex;
    height: 60px;
    margin-top: 0!important;
}

.arbilex p{
    width: 228px;
    height: 23px;
    display: flex;
    margin-left: 120px;
    color: #2649D8;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    justify-content: center;
    align-items: center;
    line-height: 23.44px;
    font-size: 18px;
}
