.main-content-holder{
   display: flex;
   padding-left: 10%;
   padding-right: 10%;
}

.main-content{
    width: 100%;
}

.section-title{
    height: 42px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    color: #1E222E;
}

#design-title{
    margin-top: 0;
    width: 105px;
    margin-bottom: 24px;
}

@media(max-width: 730px) {
  .main-content-holder{
      padding: 0;
  }
}
